#editTaskContainer {
     height: 100vh;
     width: 100vw;
     background-color: rgba(4, 2, 95, 0.116);
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url('../../../assets/images/addEditTask/xavier-balderas-cejudo-kxIE049IZ1g-unsplash.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-blend-mode: overlay;
}

#editTaskBackground {
     width: 95%;
     height: 85%;
     background-color: rgba(0, 0, 0, 0.589);
     border-radius: 10px;
     padding: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#heading {
     border-radius: 10px;
     height: 10%;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgba(255, 255, 255, 0.925);
     font-size: 36px;
     margin-bottom: 50px;
}

#addTaskBody {
     width: 70%;
     height: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#editTaskForm {
     width: 90%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10%;
}

#editInput {
     width: 500px;
     height: 50px;
     color: white;
     padding-left: 15px;
     background-color: rgba(255, 255, 255, 0);
     border-radius: 15px;
     border: 1px solid rgb(255, 255, 255);
}

#editInputTitle {
     color: rgb(238, 238, 238);
     font-size: 18px;
}

#dateBox {
     background-color: rgba(148, 148, 148, 0.781);
}

#editButtonBox {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 150px;
     gap: 20px;
}

#submitButton {
     width: 300px;
     height: 40px;
     border: 1px solid white;
     background-color: rgba(0, 0, 0, 0.205);
     color: white;
     border-radius: 15px;
     transition: 0.3s;
}

#cancelButton {
     width: 300px;
     height: 40px;
     border: 1px solid white;
     background-color: rgba(0, 0, 0, 0.205);
     color: white;
     border-radius: 15px;
     transition: 0.3s;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
}

#cancelButton:hover {
     color: black;
     background-color: rgba(255, 0, 0, 0.363);
     border: 1px solid rgba(255, 0, 0, 0.363);
}

#submitButton:hover {
     border: 1px solid black;
     color: black;
     background-color: rgba(255, 255, 255, 0.637);
}