<div id="mainContainer" class="container-fluid" *ngIf="auth.user$ | async as user">
     <!-- NAV BAR START -->
     <nav id='navBar' class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">| BASIS |</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav" id="navLinks">
                <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                <a class="nav-link" href="/task">TASKS</a>
                <a class="nav-link" routerLink="/study">STUDY</a>
                <a class="nav-link" routerLink="/goals">GOALS</a>
                <a id="userEmail">{{user.email}}</a>
                <a id="logoutButton" routerLink="/" (click)="auth.logout({ returnTo: document.location.origin })">LOG OUT</a>
              </div>
            </div>
          </div>
        </nav>
     <!-- NAV BAR END -->

     <router-outlet></router-outlet>
</div>